[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "./src/read_h5.py"

[packages]
"h5json" = "*"
requests = "*"
"h5py" = "*"
keyring = "*"
numpy = "*"
pytz = "*"
emoji = "*"
python-dateutil = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
pytest = "*"

[requires]
python_version = "3.7"
